body{
	background: url(../images/background-1366x1920.png);
	width: 100%;
	height: 1920px;
	padding: 78px 0 0 0;
}

/*-------------header begin--------------*/
.header{
	width: 462px;
	height: 110px;
	margin: 0 auto;
}
.logo{
	display: block;
	width: 244px;
	height: 106px;
	background: url(../images/logo-244x106.png) no-repeat 0 center;
	float: left;
}
.header span{
	display: block;
	width: 52px;
	height: 52px;
	background: url(../images/x-52x52.png) no-repeat 0 center;
	float: left;
	margin: 32px 36px 22px 30px;
}
.icon {
	display: block;
	float: right;
	width: 100px;
	height: 100px;
    margin-top: 6x;
	background: url(../images/icon-100x100.png) no-repeat 0 center;
}
/*-------------header end--------------*/
/*-------------banner begin--------------*/
.banner-1{
	width: 644px;
	height: 728px;
	margin: 52px auto 174px;
}
.banner-1 i{
	display: block;
	width: 644px;
	height: 728px;
	background: url(../images/banner-644x728.png) no-repeat 0 center;
}
.download{
	width: 526px;
	height: 360px;
	margin: 0 auto;
}
.download>p{
	width: 526px;
	height: 70px;
	font-family: "FZDHTK";
	font-size: 30px;
	line-height: 68px;
	letter-spacing: 6px;
	text-align: center;
	color: #ffffff;
	font-weight:bold;
	background:  rgba(73,73,73,0.4);
}
.download ul{
	width: 454px;
	height: 272px;
	margin: 18px auto 0;
}
.download ul li{
	width: 454px;
	height: 124px;
	border-radius: 70px/70px;
}
.download ul li i{
	width: 70px;
	height: 76px;
	margin: 24px 24px 24px 44px;
	display: block;
	float: left;
}
.download ul li p{
	width: 240px;
	height: 40px;
	float: left;
	font-family: "微软雅黑";
	font-weight:bold;
	font-size: 40px;
	line-height: 38px;
	text-align: center;
	color: #ffffff;
	margin-top: 42px;
}
.banner-2{
	width: 910px;
	height: 226px;
	margin-top: 84px;
	margin-left: 60px;
	background: url(../images/banner2-910x226.png) no-repeat 0 center;
}
/*-------------banner end--------------*/